<!DOCTYPE html>
<html>
<head>
    <title>Don't Wine About it!</title>
</head>
<body>
    <header>
        <h1>This is the header!</h1>
    </header>
    <main>
        <p>this is the main section of the webpage!</p>

        <form method="post">
            <label>Max Price:</label>
            <input type="number" name="Price" maxlength="5" />
            <label>Minimum Point value:</label>
            <input type="number" name="Points"  />
            
            <button type="submit">SUBMIT!</button>
        </form>

    </main>
</body>
</html>